*.pbxuser
*.mode1v3

project.xcworkspace/contents.xcworkspacedata
project.xcworkspace/xcuserdata/*.xcuserdatad/*.xcuserstate
project.xcworkspace/xcuserdata/*.xcuserdatad/*.xcsettings
project.xcworkspace/xcuserdata/*.xcuserdatad/xcdebugger
xcuserdata/*.xcuserdatad/xcdebugger
xcuserdata/*.xcuserdatad/xcschemes
xcshareddata/xcdebugger

